*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Century;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 32px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}
.container{
    min-height: 100vh;
    background-color: #8299b0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
}
.container .text{
    padding: 5px;
    margin: 125px auto;
    font-size: 25px;
    text-align: center;
}
.container .list{
    margin: 30px auto;
    font-size: 22px;
    text-align: left;
    background-color: #fff;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}