*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Century;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 32px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}
.container{
    min-height: 100vh;
    background: url(images/background01.webp);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiper{
    width: 80%;
    height: 80vh;

}
.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}

/*------welcome------*/

.welcome{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}

h3{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 5px;
}

.para{
    margin: 50px auto;
    width: 90%;
    background-color: #8299b0;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    text-align: center;
}
p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
}
.para .poem{
    margin: 2px auto;
    width: 45%;
    background-position: center;
    text-align: left;
}
